name: MythicmobEditor

on:
  push:
    branches: [master, develop]

jobs:
  build:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install prerequisitive
      run: |
        sudo python -m pip install pipenv
    - name: Install dependencies
      run: make init
    - name: Format code
      run: make format
    - name: Linting
      run: make lint
